
      .right ul {
        list-style: none;
        display: flex;
        gap: 50px;
        font-family: "Segoe UI";
        cursor: pointer; /* cursore point se hand aa jayega us element me jao ge*/
        /* border: 2px solid; */
      }
      nav {
        display: flex;
        text-transform: capitalize;
        justify-content: space-around;
        align-items: center;
        /* border: 2px solid; */
      }

      .box {
        text-align: center;
        text-transform: capitalize;
        padding-top: 73px;
        line-height: 20px;

        /* border: 2px solid; */
      }
      .box1 {
        border-radius: 6px;
        padding: 13px;
        background-color: rgba(63, 173, 247, 0.932);
        color: aliceblue;
        /* text-transform: capitalize; */
        text-decoration: none;
        border: none;
        /* border: 2px solid; */
      }
      .box p {
        margin-top: 38px;
        margin-bottom: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        /* border: 2px solid; */
      }
      .box h1 img {
        padding-left: 40px;
      }
      .para {
        font-size: 19px;
      }